- provide(:title, full_title("Articles"))

.row
  .span8

    - @articles.each do |article|
      %div{ id: "article_#{article.id}" }
        %h3= article.title
        %p= article.published_date
        %p= article.teaser
        = link_to 'Read More', article_url(article)
        %hr
    %br

    = will_paginate @articles

  .span4
    / sidebars
    = render "future_sidebar"
    = render "popular_sidebar"
    