- provide(:title, full_title("Articles"))

.row
  .span8

    - @articles.each do |article|
      %div{ id: "article_#{article.id}", class: "article-snippet" }
        .heading
          %h2
            = link_to article.title, article_url(article)
          %p <em>#{article.published_date}</em>
        .body
          = markdown(article.teaser)
          = link_to 'Read More', article_url(article)
        %hr
    %br

    = will_paginate @articles

  .span4
    / sidebars
    = render "future_sidebar"
    = render "popular_sidebar"
    