- provide(:title, "Articles")

.row
  .span9

    - @articles.each do |article|
      %div{ id: "article_#{article.id}" }
        %h3= article.title
        %p= article.published_date
        %p= article.teaser
        = link_to 'Read More', article_path(article)
        %hr
    %br

    = will_paginate @articles

  .span3
    / put sidebar here