- provide(:title, full_title(@article.title, true))

.row
  .span8
    %article.article
      .heading
        %h1= @article.title
        %p
          %span
            <em>#{@article.published_date}</em>
          %span
            by
            = DevblogExtensions::AUTHOR_NAME
          - if admin_signed_in?
            = link_to "Edit", edit_post_path(@article)

      .body
        = markdown(@article.content)
        = link_to 'Back', :back
        
    = render 'comments'

  .span4
    / sidebars
    = render "future_sidebar"
    = render "popular_sidebar"
    = render "recent_sidebar"