- provide(:title, full_title(@article.title, true))

.row
  .span8
    %article.article
      .heading
        %h1= @article.title
        %p <em>#{@article.published_date}</em>
        - if admin_signed_in?
              = link_to "Edit", edit_post_path(@article)

      .body
        = markdown(@article.content)
        = link_to 'Back', :back

  .span4
    / sidebars
    = render "future_sidebar"
    = render "popular_sidebar"
    = render "recent_sidebar"