- provide(:title, full_title(@article.title, true))

.row
  .span8

    %h1= @article.title
    %p= @article.published_date
    %p Category Goes Here

    %div= markdown(@article.content)

    = link_to 'Back', :back

  .span4
    / sidebars
    = render "popular_sidebar"
    = render "recent_sidebar"