- provide(:title, @article.title)
.row
  .span8

    %h1= @article.title
    %p= @article.published_date
    %p Category Goes Here

    %div= markdown(@article.content)

    = link_to 'Back', :back

  .span3
    / sidebars
    = render "recent_sidebar"