.row
  .span9
    = simple_form_for @post, defaults: { input_html: {class: "input-xxlarge"} } do |f|
      = f.error_notification
      = f.input :title
      = f.input :permalink
      = f.input :release_date, label: "Publish Date", as: :datetime, input_html: { class: "input-small" }
      = f.input :teaser, as: :text, input_html: { rows: 10 }
      = f.input :content, as: :text
      = f.button :submit, value: "Save"
