
= simple_form_for @post, defaults: { input_html: {class: "input-xxlarge"} } do |f|
  = f.error_notification
  = f.input :title, input_html: { id: "contentbox" }
  #count 70
  #barbox
    #bar
  = f.label :permalink, id: "barbox-clear"
  = f.input_field :permalink, class: "input-xxlarge"
  = f.input :release_date, label: "Publish Date", as: :datetime, input_html: { class: "input-small" }
  = f.input :teaser, as: :text, input_html: { rows: 10 }
  = f.input :content, as: :text, label: "Content (accepts markdown syntax)"
  = f.input_field :publish_ready, as: :boolean, inline_label: 'Ready to publish'
  = f.button :submit, value: "Save"
