- provide(:title, full_title("Editing #{@post.title}"))
%h1 Editing post

= render 'form'

= link_to 'Back', :back
\|
= link_to 'Delete', @post, data: { confirm: 'Are you sure?' }, :method => :delete
\|
= link_to 'Preview', article_path(@post)
