- provide(:title, "All Posts")
%h1 Posts

= link_to 'New Post', new_post_path

= will_paginate @posts

- @posts.each do |post|
  %div{ id: "post_#{post.id}" }
    %h3= post.title
    %h4 Permalink
    %p= post.permalink
    %h4 Publish Date
    %p= post.published_date
    = link_to 'Preview', post
    = link_to 'Edit', edit_post_path(post)
    = link_to 'Delete', post, data: { confirm: 'Are you sure?' }, :method => :delete
    %hr

%br
= link_to 'New Post', new_post_path

= will_paginate @posts