= form_for @message, :url => contact_path do |f|
  -if @message.errors.any?
    %div.alert
      #error_explanation
        %h2= "Please correct the following #{pluralize(@message.errors.count, "error")}."
        %ul
          - @message.errors.full_messages.each do |msg|
            %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :message
    = f.text_area :body
  .actions
    = f.submit 'Send'