- provide(:title, full_title("Contact"))
.row
  .span5.offset4
    = simple_form_for @message, url: contact_path, defaults: { input_html: {class: "input-xlarge"} } do |f|
      = f.error_notification
      = f.input :name
      = f.input :email
      = f.input :body, label: "Message", as: :text, input_html: { rows: 7 }
      = f.button :submit, value: "Send Message"